.jumbotron {
  font-family: 'Glyphicons Halflings';
	text-align: center;
	color:seashell;
	background-image: url("https://images.pexels.com/photos/314860/pexels-photo-314860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

body {
  color:rgb(219, 137, 14);
  font-family: 'Glyphicons Halflings';
  background-image: url("https://images.pexels.com/photos/2397413/pexels-photo-2397413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;  
  background-size: initial; 

}

#results {
	display: none;
}

#results{
  color: aqua;
}
#intro{
  font-family: 'Glyphicons Halflings';
  color:skyblue;
}